<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consulta Estoque</h1>
    <form >
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Produto</p>
            </div>
            <input class="i_text" type="text" formControlName="nome">
            <a class="button">Buscar</a>
        </div>
        <hr>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Estoque Atual: </p>
            </div>
            <input placeholder="999" class="i_text" type="text" formControlName="estoque">
            <a class="button">Alterar Estoque</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Valor: </p>
            </div>
            <input placeholder="R$ 99,99" class="i_text" type="text" formControlName="valor">
            <a class="button">Alterar valor</a>
        </div>