<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo" >Cadastro de Materiais</h1>
    <form [formGroup]="formulario">
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form"  formControlName="nome" >Nome</p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form"  formControlName="categoria" >Categoria </p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form"  formControlName="preco" >Preço</p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form"  formControlName="unidadeMedida" >Medida </p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form"  formControlName="quantidade" >Quantidade </p>
                </div>
                    <input class="i_text" type="text">
            </div>
    </form>
    <div class="fim_pagina">
        <table>
            <tr>
            <td>
                <div>
                    <a class="button" href="" (click)="cadastrar()">Cadastrar</a>
                </div>
            </td>
            <td>
                <div>
                    <a class="button" href="" (click)="limpar()">limpar</a>
                </div>
            </td>       
            </tr>
        </table>
    </div>
    <p-footer>
    </p-footer>
</p-card>