<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo" >Cadastro de Materiais</h1>
    <form [formGroup]="formulario">
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form" >Nome</p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form" >Categoria </p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form" >Preço</p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form" >Foto </p>
                </div>
                    <input class="i_text" type="text">
            </div>
            <div class="i_preencher">
                <div class="p_formulario">
                    <p class="p_form" >Quantidade </p>
                </div>
                    <input class="i_text" type="text">
            </div>
    </form>
    <div class="fim_pagina">
        <table>
            <tr>
            <td>
                <div>
                    <a class="button" (click)="cadastrar()">Cancelar</a>
                </div>
            </td>
            <td>
                <div>
                    <a class="button" (click)="limpar()">Enviar</a>
                </div>
            </td>       
            </tr>
        </table>
    </div>
    <p-footer>
        <button pButton type="button" label="Cadastrar" class="p-button-success" (click)="cadastrar()">
        </button>
        <button pButton type="button" label="Limpar" class="p-button-warning" (click)="limpar()">
        </button>
    </p-footer>
</p-card>