<p-card class="card-style">
    <a class="button" href="#">Encerrar Sessão</a>
    <h1 class="titulo">Atendente</h1>

    <div class="fim_pagina">
      <table>
          <tr>
              <td>
                  <div>
                      <a class="button" href="http://localhost:4200/pedido">Cadastrar Produto</a>
                  </div>
              </td>
          </tr>
          <tr>
            <td>
                <div>
                    <p></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="button" href="http://localhost:4200/pedido/consultar">Consultar Produto</a>
                </div>
            </td>
        </tr>
      </table>
  </div>
  </p-card>
  