<p-card class="card-style">
  <a class="button" href="#">Voltar</a>
  <h1 class="titulo" >Cadastro de Produtos</h1>
  <form>
          <div class="i_preencher">
              <div class="p_formulario">
                  <p class="p_form"  formControlName="nome" >Nome</p>
              </div>
                  <input class="i_text" type="text">
          </div>
          <div class="i_preencher">
              <div class="p_formulario">
                  <p class="p_form"  formControlName="preco" >Preço</p>
              </div>
                  <input class="i_text" type="text">
          </div>
          <div class="i_preencher">
              <div class="p_formulario">
                  <p class="p_form"  formControlName="quantidade" >Quantidade </p>
              </div>
                  <input class="i_text" type="text">
          </div>
          <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form" >Unidade </p>
            </div>
                <select>
                  <option>KG</option>
                  <option>Lt</option>
                  <option>Unidade</option>
                  <option>Ml</option>
                  <option>Gr</option>
                </select>
        </div>
  </form>
  <div class="fim_pagina">
    <table>
        <tr>
        <td>
            <div>
                <a class="button" (click)="cadastrar()">Cadastrar</a>
            </div>
        </td>
        <td>
            <div>
                <a class="button" (click)="limpar()">limpar</a>
            </div>
        </td>       
        </tr>
    </table>
</div>
</p-card>
