<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Cadastro de Produtos</h1>
    <form [formGroup]="formulario">
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome</p>
            </div>
            <input class="i_text" type="text" formControlName="nome">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Preço</p>
            </div>
            <input class="i_text" type="text" formControlName="preco">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Quantidade </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Categoria </p>
            </div>
            <p-dropdown class="p_form" [options]="categorias" formControlName="categoria" optionLabel="nome"
                (click)="verificarOpcao()">
            </p-dropdown>
            <div class="p_formulario" *ngIf="outro">
                <input placeholder="Digite o nome da categoria!">
            </div>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Foto </p>
            </div>
            <!-- <input class="i_text" type="text" > -->
            <img class="preview-image" [src]="imageFile ? imageFile.link : 'localhost/image.png'">
            <input #imageInput
            type="file"
            accept="image/*" (change)="imagemPreview($event)" formControlName="foto">
        </div>
    </form>
    <div class="fim_pagina">
        <table>
            <tr>
                <td>
                    <div>
                        <a class="button" (click)="cadastrarProduto()">Cadastrar</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a class="button" (click)="limpar()">limpar</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</p-card>