<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Cozinha</h1>

    <p>Pedido da Mesa 01</p>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
            <div class="p_formulario">
                <p class="p_form">Resumo do pedido</p>
            </div>
        </div>
        <div class="fim_pagina">
            <table>
                <tr>
                    <td>
                        <div>
                            <input type="checkbox">
                            Pedido em Preparação                    
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="button">Finalizar Pedido</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
</p-card>