<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consulta Clientes</h1>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Produto</p>
            </div>
            <input class="i_text" type="text">
            <a class="button">Buscar</a>
        </div>
        <hr>
</p-card>

<p-card>

    <p-table [value]="clientes" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Código</th>
                <th>Nome</th>
                <th>telefone</th>
                <th>cpf</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-f>
            <tr>
                <td>
                    <div>
                        <a (click)="remover(f)">
                            <i class="pi pi-trash" > </i >
                        </a>
                        <a (click)="alterar(f)">
                            <i class="pi pi-cog" ></i>
                        </a>
                    </div>
                </td>
                <td>{{f.id}}</td>
                <td>{{f.nome}}</td>
                <td>{{f.telefone}}</td>
                <td>{{f.cpf}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>