
<p>cadfuncionario works!</p>
<p-card class="card-style">
  <a class="button" href="#">Voltar</a>
  <h1 class="titulo">Cadastro de Produtos</h1>
  <form>
    <h1 class="titulo">Itens do Pedido</h1>
      <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">Nome</p>
          </div>
          <input class="i_text" type="text" formControlName="nome">
      </div>
      <div class="i_preencher">
        <div class="p_formulario">
            <p class="p_form">Telefone </p>
        </div>
        <input class="i_text" type="text" formControlName="foto">
    </div>
      <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">CPF</p>
          </div>
          <input class="i_text" type="text" formControlName="preco">
      </div>
  </form>
  <form>
    <h1 class="titulo">Endereço do Cliente</h1>
      <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">Logadouro</p>
          </div>
          <input class="i_text" type="text" formControlName="quantidade">
      </div>
      <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">Numero </p>
          </div>
          <input class="i_text" type="text" formControlName="categoria">
      </div>
      <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">Bairro</p>
          </div>
          <input class="i_text" type="text" formControlName="foto">
      </div>
      <div class="i_preencher">
        <div class="p_formulario">
            <p class="p_form">Cidade</p>
        </div>
        <input class="i_text" type="text" formControlName="foto">
    </div>
    <div class="i_preencher">
      <div class="p_formulario">
          <p class="p_form">Complemento</p>
      </div>
      <input class="i_text" type="text" formControlName="foto">
  </div>
  </form>
