<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Cadastro de Pedido</h1>
    <form [formGroup]="formulario">
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome do Cliente</p>
            </div>
            <select formControlName="cliente">
                <option value="01">Deivid Amorin</option>
                <option value="02">Émerson Junior</option>
                <option value="03">Erick Natal</option>
                <option value="03">Josue Silva</option>
            </select>
            <a class="button">Cadastrar</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Mesa</p>
            </div>
            <select formControlName="mesa">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="03">04</option>
            </select>
        </div>
        <h1 class="titulo">Itens do Pedido</h1>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Categoria</p>
            </div>
            <select formControlName="categoria">
                <option value="lanche">Lanche</option>
                <option value="acompanhamento">Acompanhamento</option>
                <option value="sobremesa">Sobremesa</option>
            </select>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Buscar Produto</p>
            </div>
            <select formControlName="produto">
                <option value="1">X-Tudo Carne</option>
                <option value="2">X-Tudo Frango</option>
                <option value="3">X-Salada</option>
            </select>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Quantidade</p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingredientes</p>
            </div>
            <p class="p_form">Espaço que o banco de dados trará os ingredientes do produto selecionado</p>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Valor</p>
            </div>
            <p class="p_form">Espaço do valor individual do produto selecionado</p>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Observações</p>
            </div>
            <input class="i_text" type="text" formControlName="observacao">
        </div>
        <div class="fim_pagina">
            <table>
                <tr>
                    <td>
                        <div>
                            <a class="button" (click)="adicionar()">Adicionar</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="button">limpar</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <h1 class="titulo">Resumo do pedido</h1>
        <div>
            <div *ngFor="let div of divs">
                <div class="i_preencher">
                    <div class="p_formulario">
                    </div>
                    <div class="p_formulario">
                        <p class="p_form"> {{div.nome}}</p>
                    </div>
                    <div class="p_formulario">
                        <p class="p_form">{{div.quantidade}}</p>
                    </div>
                    <a class="button" id="{{div.id}}" (click)="retirar(div.id)">X</a>
                </div>
            </div>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Valor Total</p>
            </div>
            <p class="p_form">Espaço para informar valor total do pedido</p>
        </div>

        <div class="fim_pagina">
            <table>
                <tr>
                    <td>
                        <div>
                            <a class="button" (click)="cadastrar()">Fechar Pedido</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="button">limpar</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>