<p>consultareceita works!</p>
<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consultar Receita</h1>
    <form [formGroup]="formulario">
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Buscar Receita</p>
            </div>
            <input class="i_text" type="text" formControlName="nome">
            <a class="button">Buscar</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome da receita</p>
            </div>
            <input class="i_text" type="text" formControlName="preco">
            <a class="button">Atualizar Nome</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Categoria </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <a class="button">Atualizar Categoria</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Foto</p>
            </div>
            <img src="#" alt="foto">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingrediente </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Quantidade </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Medida </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <a class="button">Alterar Ingrediente</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingrediente </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Quantidade </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Medida </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <a class="button">Alterar Ingrediente</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingrediente </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Quantidade </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Medida </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <a class="button">Alterar Ingrediente</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Preço </p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <a class="button">Atualizar Preço</a>
        </div>