<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consultar Receita</h1>
    <form [formGroup]="formulario">
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Buscar Receita</p>
            </div>
            <input class="i_text" type="text" formControlName="buscaNome">
            <a class="button">Buscar</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome da receita</p>
            </div>
            <input placeholder="X Tudo" class="i_text" type="text" formControlName="nome">
            <a class="button">Atualizar Nome</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Categoria </p>
            </div>
            <input placeholder="Hamburguer" class="i_text" type="text" formControlName="categoria">
            <a class="button">Atualizar Categoria</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Foto</p>
            </div>
            <img src="#" alt="foto">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingrediente </p>
            </div>
            <input placeholder="Hamburguer" class="i_text" type="text" formControlName="iNome">
            <div class="p_formulario">
                <p class="p_form">Quantidade </p>
            </div>
            <input placeholder="2" class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Medida </p>
            </div>
            <input placeholder="Unidade" class="i_text" type="text" formControlName="medida">
            <a class="button" (onclick)="alteraI">Alterar Ingrediente</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Preço </p>
            </div>
            <input placeholder="R$ 29,99" class="i_text" type="text" formControlName="quantidade">
            <a class="button">Atualizar Preço</a>
        </div>