<!-- <p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consultar Funcionário</h1>
    <form [formGroup]="formulario">
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Buscar Funcionário</p>
            </div>
            <input class="i_text" type="text" formControlName="nome">
            <a class="button">Buscar</a>
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Foto</p>
            </div>
            <img src="#" alt="foto">
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome: </p>
            </div>
            <input placeholder="João da Silva" class="i_text" type="text" formControlName="nome">
            <a class="button" (click)="alteraNome()">Alterar Nome</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">CPF: </p>
            </div>
            <input placeholder="111.222.333-4" class="i_text" type="text" formControlName="cpf">
            <a class="button" (click)="alteraCPF()">Alterar CPF</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Telefone: </p>
            </div>
            <input placeholder="(16) 99999-8888" class="i_text" type="text" formControlName="telefone">
            <a class="button" (click)="alteraTelefone()">Alterar telefone</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">E-mail: </p>
            </div>
            <input placeholder="email@email.com" class="i_text" type="text" formControlName="email">
            <a class="button" (click)="alteraEmail()">Alterar e-mail</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Senha: </p>
            </div>
            <input placeholder="1234" class="i_text" type="text" formControlName="senha">
            <a class="button" (click)="alteraSenha()">Alterar senha</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Função: </p>
            </div>
            <input placeholder="atendente" class="i_text" type="text" formControlName="role">
            <a class="button" (click)="alteraRole()">Alterar função</a>
        </div>

        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Funcionário: </p>
            </div>
            <p class="p_form">ATIVO NO SISTEMA</p>
            <a class="button">Desativar</a>
            <a class="button">Ativar</a>
        </div>
 -->
 <p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Consulta Funcionário</h1>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Nome</p>
            </div>
            <input class="i_text" type="text">
            <a class="button">Buscar</a>
        </div>
        <hr>
</p-card>

 <p-table [value]="funcionarios" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPf</th>
            <th>Telefone</th>
            <th>E-mail</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-f>
        <tr>
            <td>{{f.codigoUsuario}}</td>
            <td>{{f.nome}}</td>
            <td>{{f.cpf}}</td>
            <td>{{f.telefone}}</td>
            <td>{{f.email}}</td>
        </tr>
    </ng-template>
</p-table>