<p-card class="card-style">
    <a class="button" href="#">Voltar</a>
    <h1 class="titulo">Cadastro de Receita</h1>
    <!-- <form [formGroup]="formulario"> -->
    <form>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Categoria</p>
            </div>
            <select formControlName="categoria">
                <option value="lanche">Lanche</option>
                <option value="acompanhamento">Acompanhamento</option>
                <option value="sobremesa">Sobremesa</option>
            </select>
        </div>
        <div class="i_preencher">
          <div class="p_formulario">
              <p class="p_form">Nome</p>
          </div>
          <input class="i_text" type="text" formControlName="nome">
      </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Preco</p>
            </div>
            <input class="i_text" type="text" formControlName="preco">
        </div>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Foto </p>
            </div>
            <input class="i_text" type="text" formControlName="foto">
        </div>

        <h1 class="titulo">Ingredientes</h1>
        <div class="i_preencher">
            <div class="p_formulario">
                <p class="p_form">Ingrediente</p>
            </div>
            <select formControlName="codMaterial">
                <option value="1">Pão com gergelim</option>
                <option value="2">Pão de fio</option>
                <option value="3">hambúrguer de carne</option>
                <option value="4">hambúrguer de picanha</option>
                <option value="5">hambúrguer de frango</option>
                <option value="6">Tomate</option>
                <option value="7">Alface</option>
                <option value="8">Bacon</option>
                <option value="9">Catchup</option>
                <option value="10">Maionese</option>
            </select>
            <div class="p_formulario">
                <p class="p_form">Quantidade</p>
            </div>
            <input class="i_text" type="text" formControlName="quantidade">
            <div class="p_formulario">
                <p class="p_form">Unidade de Medida</p>
            </div>
            <select formControlName="medida">
                <option value="KG">KG</option>
                <option value="Lt">Lt</option>
                <option value="Un">Unidade</option>
                <option value="ML">Ml</option>
                <option value="Gr">Gr</option>
            </select>
        </div>
        <div class="fim_pagina">
            <table>
                <tr>
                    <td>
                        <div>
                            <a class="button" (click)="inserir()" >+</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div *ngFor = "let div of divs">
                <div class="i_preencher">
                    <div class="p_formulario">
                    </div>
                    <div class="p_formulario">
                        <p class="p_form"> {{div.nome}}</p>
                    </div>
                    <div class="p_formulario">
                        <p class="p_form">{{div.quantidade}}</p>
                    </div>
                    <div class="p_formulario">
                        <p class="p_form">{{div.medida}}</p>
                    </div>
                    <a class="button" id="{{div.id}}" (click)="retirar(div.id)">X</a>
                </div>                
            </div>
        </div>
    </form>
    <div class="fim_pagina">
      <table>
          <tr>
              <td>
                  <div>
                      <a class="button" (click)="cadastrar()">Cadastrar</a>
                  </div>
              </td>
              <td>
                  <div>
                      <a class="button" (click)="limpar()">limpar</a>
                  </div>
              </td>
          </tr>
      </table>
  </div>
  </p-card>
  