<p-card class="card-style">
    <a class="button" href="#">Encerrar Sessão</a>
    <h1 class="titulo">Gerente</h1>

    <div class="fim_pagina">
      <table>
          <tr>
              <td>
                  <div>
                      <a class="button" href="http://localhost:4200/produto">Consultar Estoque</a>
                  </div>
              </td>
              <td>
                  <div>
                      <a class="button" href="http://localhost:4200/produto">Cadastro de Produtos</a>
                  </div>
              </td>
          </tr>
          <tr>
            <td>
                <div>
                    <p></p>
                </div>
            </td>
            <td>
                <div>
                    <p></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="button" href="http://localhost:4200/cadfuncionario">Consultar Funcionário</a>
                </div>
            </td>
            <td>
                <div>
                    <a class="button" href="http://localhost:4200/cadfuncionario">Cadastrar Funcionário</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p></p>
                </div>
            </td>
            <td>
                <div>
                    <p></p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="button" href="http://localhost:4200/cadreceita/consulta">Consultar Receita</a>
                </div>
            </td>
            <td>
                <div>
                    <a class="button" href="http://localhost:4200/cadreceita">Montar Receita</a>
                </div>
            </td>
        </tr>
      </table>
  </div>
  </p-card>
  